---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import MarqueeTecnologies from "../components/MarqueeTecnologies.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Blogs from "../components/Blogs.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  class="w-[375px] h-dvh md:w-2xl xl:w-[1170px] bg-Background-light dark:bg-Background-dark"
>
  <Header />
  <Hero />
  <MarqueeTecnologies />
  <main class="min-h-screen
    flex flex-col items-center">
    <AboutMe />
    <Projects />
  </main>
  <Blogs />
  <Contact />
  <Footer />
</Layout>
