---
import CodeIcon from "./CodeIcon.astro";
import IconsTecnology from "./IconsTecnology.astro";
import UserIcon from "./UserIcon.astro";
import ProgressBar from "./ProgressBar.astro";
import Badge from "./badge.astro";
---

<section
  id="about"
  class="about-me py-20 text-Foreground-dark dark:text-Background-light"
>
  <h2 class="text-center text-3xl font-bold pb-8">About Me</h2>

  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 max-w-6xl mx-auto px-4"
  >
    <!-- tarjeta izquierda -->
    <div
      class="bg-neutral-primary-soft text-body block w-full p-6 border border-default rounded-base shadow-xs"
    >
      <h3
        class="mb-3 text-2xl font-bold text-Forenground-dark dark:text-Background-light tracking-tight leading-8"
      >
        <UserIcon
          size={32}
          class="inline-block mr-2 mb-1 text-Orange-vibrant dark:text-Orange-vibrant-dark"
        />
        Who I Am
      </h3>
      <p class="mb-4 text-body leading-relaxed text-lg">
        Soy desarrollador web y me dedico a que las aplicaciones funcionen bien,
        desde la lógica del servidor hasta lo que ve el usuario. Mi fuerte es el
        backend, donde trabajo con Java y PHP para sistemas empresariales que
        requieren estabilidad, pero también uso Node.js cuando el proyecto pide
        más agilidad.
      </p>

      <p class="mb-4 text-body leading-relaxed text-lg">
        En el frontend me apoyo en React y TypeScript para construir interfaces
        donde la prioridad es la usabilidad y el orden del código.
      </p>

      <div class="contenedor-revelar mt-6 grid grid-cols-3 gap-3 text-center">
        <div
          class="item-revelar bg-Background-light dark:bg-Forenground-dark rounded-base shadow-xs p-3"
        >
          <div
            class="font-bold text-3xl text-Orange-vibrant dark:text-Orange-vibrant-dark"
          >
            30
          </div>
          <div class="text-sm text-body">Repositories</div>
        </div>
        <div
          class="item-revelar bg-Background-light dark:bg-Forenground-dark rounded-base shadow-xs p-3"
        >
          <div
            class="font-bold text-3xl text-Orange-vibrant dark:text-Orange-vibrant-dark"
          >
            400
          </div>
          <div class="text-sm text-body">Commits</div>
        </div>
        <div
          class="item-revelar bg-Background-light dark:bg-Forenground-dark rounded-base shadow-xs p-3"
        >
          <div
            class="font-bold text-3xl text-Orange-vibrant dark:text-Orange-vibrant-dark"
          >
            4
          </div>
          <div class="text-sm text-body">Followers</div>
        </div>
      </div>
    </div>
    <!-- tarjeta derecha -->
    <div
      class="bg-neutral-primary-soft py-6 block w-full p-6 border border-default rounded-base shadow-xs"
    >
      <h3 class="mb-3 text-2xl font-bold tracking-tight leading-8">
        <CodeIcon
          size={32}
          class="inline-block mr-2 mb-1 text-Orange-vibrant dark:text-Orange-vibrant-dark"
        />
        My toolsbox
      </h3>
      <div class="space-y-4">
        <ProgressBar label="Backend" percentage={90} />
        <ProgressBar label="Frontend" percentage={85} />
        <ProgressBar label="DevOps" percentage={75} />
      </div>
      <div class="mt-6 flex flex-wrap gap-4">
        <Badge label="Java" />
        <Badge label="Php" />
        <Badge label="Node.js" />
        <Badge label="TypeScript" />
        <Badge label="React" />
        <Badge label="Astro" />
        <Badge label="Tailwind CSS" />
        <Badge label="Docker" />
        <Badge label="Linux" />
        <Badge label="Git" />
      </div>
    </div>
  </div>
</section>
