---
import IconsTecnology from "./IconsTecnology.astro";

const technologies = [
  "Astro",
  "TypeScript",
  "Vite",
  "JavaScript",
  "HTML5",
  "CSS",
  "React",
  "Tailwindcss",
  "NodeDotJs",
  "Spring",
  "Docker",
  "Git",
  "Php",
];
---

<section
  class="flex items-center relative h-16 bg-white text-Forenground-dark font-semibold dark:bg-Forenground-dark dark:text-Neutral-600-dark overflow-hidden"
>
  <div
    class="flex animate-[scroll_30s_linear_infinite] hover:[animation-play-state:paused]"
  >
    <div class="flex items-center gap-8 px-4 shrink-0">
      {
        technologies.map((tech) => (
          <div class="flex gap-2 items-center whitespace-nowrap">
            <IconsTecnology name={tech} size={24} />
            <span>{tech}</span>
          </div>
        ))
      }
    </div>
    <!-- Duplicado para efecto infinito -->
    <div class="flex items-center gap-8 px-4 shrink-0">
      {
        technologies.map((tech) => (
          <div class="flex gap-2 items-center whitespace-nowrap">
            <IconsTecnology name={tech} size={24} />
            <span>{tech}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>
